<a href="https://colab.research.google.com/github/e0524018-stack/MED23CL202/blob/main/Errors_and_Errors_handeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ZeroDivisionError

In [2]:
try:
  print(10/0)
except ZeroDivisionError:
  print("X ZerodivisonError: You cannot divide by zero.")

X ZerodivisonError: You cannot divide by zero.

#ValueError

In [3]:
try:
  num=int("abc")
except ValueError:
  print("ValueError: Cannot convert string to integer")

ValueError: Cannot convert string to integer

#typeError

In [5]:
try:
  result= "2" + 2
except TypeError:
  print("TypeError: you tried to add strg and int")

TypeError: you tried to add strg and int

#IndexError

In [6]:
try:
  list=[1,2,3]
  print(list[5])
except IndexError:
  print("IndexError:")

IndexError:

#Exception Handeling

In [8]:
try:
  num1 =int(input("Enter a number:"))
  num2 =int(input("Enter another number:"))
  result= num1/num2
except ZeroDivisionError:
  print("Error: You cannot divide by zero")
except ValueError:
  print("Error: please enter numbers only")
else:
  print("Result",result)
finally:
  print("program excuted successfully")

Enter a number:34
Enter another number:ee
Error: please enter numbers only
program excuted successfully